
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 20px;
}

.link, .link:hover, .link:visited, .link:active {
  color: #4FC08D;
}

.cursor-pointer {
  cursor: pointer;
}

.form {
  text-align: left;
}